    <% layout("layouts/boilerplate") %>
    <div class="row mt-3">
    <div class="col-8 offset-2">
          <br><br>
    <h3>Create a New Listing</h3>
  
    <form method="POST" action="/listings" enctype="multipart/form-data" novalidate class=" needs-validation">
        <div class="mb-3">
            <label for="label" class="form-label">Add a catchy title</label>
            <input name="listing[title]" placeholder = "enter title" type="text" class="form-control" required>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        
         <div class="mb-3">
            <label for="label" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" type="text" required></textarea>
                 <div class="invalid-feedback">Add short a description</div>
        </div>
        
        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input name="listing[image]" type="file" class="form-control" required>
        </div>
        
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="label" class="form-label">Price</label>
            <input name="listing[price]" placeholder = "1200" type="number" class="form-control" required>
                 <div class="invalid-feedback">Add price</div>
        </div>
        <div class="mb-3 col-8" >
            <label for="label" class="form-label">Country</label>
            <input name="listing[country]" placeholder = "India" type="text" class="form-control" required>
                 <div class="invalid-feedback">Please provide valid country</div>
        </div>
        </div>
        <div class="mb-3">  <!--mb-3= margine bottom size level -->
            <label for="label" class="form-label">Location</label>
            <input name="listing[location]" placeholder = "Bengluru, Karnataka" type="text" class="form-control" required>
                 <div class="invalid-feedback">provide valid Location</div>
        </div>
        
        <button class="btn btn-dark add-btn mt-3 mb-5">Add Listing</button>
    </form>
    </div>
    </div>